body {
    background-color: rgb(224, 246, 255);
    color: black;
    padding: 30px;     
}

#name {
    color: red;
}

h1Google {
    font-family: 'Tangerine', serif;
    font-size: 60px; 
}